apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - https://github.com/pelotech/nidhogg//kustomize?ref=v0.8.0

patches:
  - path: overlays/nidhogg-controller-manager.yaml
    target:
      group: apps
      kind: StatefulSet
      name: nidhogg-controller-manager
      version: v1
  - path: overlays/nidhogg-config-patch.yaml
    target:
      kind: ConfigMap
      name: nidhogg-config
