apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

replacements:
  - source:
      version: v1
      kind: ConfigMap
      name: kustomize-environment
      fieldPath: data.ARGOCD_SERVER_HOST
    targets:
      - select:
          version: v1
          kind: ConfigMap
          name: argocd-cm
        fieldPaths:
          - data.url
        options:
          delimiter: '//'
          index: 1
      - select:
          version: v1
          group: networking.k8s.io
          kind: Ingress
          name: argocd-server-ingress
        fieldPaths:
          - spec.rules.0.host
          - spec.tls.0.hosts.0
