apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./operators
  - ./resources.yaml
  - https://github.com/kubevirt/common-instancetypes//VirtualMachineClusterPreferences?ref=v1.6.0

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: virt-operator
    patch: |-
      - op: add
        path: /spec/template/spec/hostNetwork
        value: true
      - op: remove
        path: /spec/template/spec/affinity/nodeAffinity/requiredDuringSchedulingIgnoredDuringExecution
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: cdi-operator
    patch: |-
      - op: add
        path: /spec/template/spec/hostNetwork
        value: true
