name: pre-commit
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: install pre-commit
        run: pip install pre-commit
      - name: pre-commit
        run: pre-commit run --all-files --show-diff-on-failure
